<%- include("./shared/header.ejs", {title: "Test page"}) %>

<% if (locals.element1) { %>
    <h1>Bonjour <%= element1.title %></h1>
<% } %>

<ul>
<% if (locals.element2) { %>
    <% for (const t of element2) { %>
        <li><%= t.content%></li>
    <% } %>
<% } %>
</ul>
</br>
<ul>
<% if (locals.element3) { %>
    <% for (const t of element3) { %>
        <li><%= t.content%></li>
    <% } %>
<% } %>
<% if (locals.element4) { %>
    <h1>Post : <%= element4.content %></h1>
<% } %>
</ul>

<%- include("./shared/footer.ejs") %>